###############################################################################
#
#	Fichier des parametres du commercant
#
#	Remarque :	Ce fichier parametre est sous la responsabilite du
#				commercant
#
###############################################################################


# URL de retour automatique de la reponse du paiement
AUTO_RESPONSE_URL!{{ auto_response_url }}!

# URL de retour suite a paiement refuse
CANCEL_URL!{{ cancel_url }}!

# URL de retour suite a paiement accepte
RETURN_URL!{{ return_url }}!


# END OF FILE
