###############################################################################
#
#	Fichier des parametres BANK
#
###############################################################################


# Mode d'affichage des blocs de paiment

BLOCK_ALIGN!{{ block_align }}!

# Ordre d'affichage des blocs de paiement

BLOCK_ORDER!{{ block_order }}!

# Mode de securite

CONDITION!SSL!

# Code devise  ( 978=EURO )

CURRENCY!{{ currency_code }}!

# flag d'edition des libelles des blocs de paiement

HEADER_FLAG!{{ header_flag }}!

# Code langage de l'acheteur (fr=francais)

LANGUAGE!{{ lang_code }}!

# Code pays du commercant

MERCHANT_COUNTRY!{{ merchant_country }}!

# Code langage du commercant

MERCHANT_LANGUAGE!{{ merchant_lang }}!

# Liste des moyens de paiement acceptes

PAYMENT_MEANS!{{ accepted_payment_modes }}!

# Passage en une seule frame securisee au moment du paiement

TARGET!_top!

# Nom du template de la page de paiement

TEMPLATE!{{ template_name }}!

# Couleur du text (noir)

TEXTCOLOR!{{ text_color }}!

# END OF FILE
