#########################################################################
#
#	Pathfile
#
#	Liste fichiers parametres utilises par le module de paiement
#
#########################################################################
#
#-------------------------------------------------------------------------
# Activation (YES) / Désactivation (NO) du mode DEBUG
#-------------------------------------------------------------------------
#
DEBUG!{{ debug_mode_enabled }}!
# ------------------------------------------------------------------------
# Chemin vers le répertoire des logos depuis le web alias
# ------------------------------------------------------------------------
#
D_LOGO!{{ logo_directory_path }}!
#
# --------------------------------------------------------------------------
#  Fichiers parametres lies à l'api de paiement
# --------------------------------------------------------------------------
#
# fichier par défaut des parametres
#
F_DEFAULT!{{ default_parmcom_path }}!
#
# fichier parametre commercant
#
F_PARAM!{{ parmcom_path }}!
#
# certificat du commercant
#
F_CERTIFICATE!{{ certif_path }}!
#
# type du certificat
#
F_CTYPE!php!
#
# --------------------------------------------------------------------------
# 	end of file
# --------------------------------------------------------------------------
